

__pycache__/



*.pt
*.pth

*.log

*.npy

*.pkl

*.npy


./data
data/public_trajectory_dataset_main/corn_0.zip
data/public_trajectory_dataset_main/corn_1.zip
data/public_trajectory_dataset_main/corn_2.zip
data/public_trajectory_dataset_main/corn_3.zip
data/public_trajectory_dataset_main/corn_4.zip
data/public_trajectory_dataset_main/corn_5.zip
data/public_trajectory_dataset_main/data_split.zip
data/public_trajectory_dataset_main/paddy.zip
data/public_trajectory_dataset_main/README.md
data/public_trajectory_dataset_main/wheat1_0.zip
data/public_trajectory_dataset_main/wheat1_1.zip
data/public_trajectory_dataset_main/wheat1_2.zip
data/public_trajectory_dataset_main/wheat1_3.zip
data/public_trajectory_dataset_main/wheat1_4.zip
data/metadata.json
data/test.csv
data/train.csv

.idea/.gitignore
.idea/MobRef_GitHub.iml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml